@charset 'utf-8';

/*顶部样式*/

.top_position {
    height: 42px;
    padding: 0 16px;
    line-height: 42px;
    border-bottom: 1px solid #ececec;
}


/*底部样式*/

.footer {
    background: #f2f1f4;
    height: 58px;
    line-height: 58px;
    text-align: center;
}


/*表单验证错误提示*/

.W_input_error {
    border: 1px solid;
}


/*可享权益*/

.share_wrap .intro_title {
    padding: 0 38px;
    top: 8px;
    position: relative;
}

.share_wrap .detail_intro {
    margin: 0 110px;
    padding: 22px 25px;
    border-top: 1px solid #ececec;
}

.share_wrap .detail_intro dl {
    height: 50px;
    line-height: 50px;
}

.share_wrap .detail_intro dt {
    width: 300px;
}

.share_wrap .detail_intro dt,
.share_wrap .detail_intro dd {
    float: left;
}

.share_wrap .detail_intro .detail_txt {
    width: 300px;
    color: #919191;
}

#S_CSS_components_bluev_common_public {
    height: 42px;
}
