@charset 'utf-8';
@import "../common/public.css";
@import "../common/verifyNav/css.css";

.protocol_content {
    width: 980px;
    margin: 58px auto;
    border: 1px solid #ececec;
    border-radius: 3px;
}
.identifyStatus{padding:30px 0;border-top: 1px solid #f2f2f5;border-bottom: 1px solid #f2f2f5;}
.identifyStatus .W_icon{display: block;margin:0 auto;}
.identifyStatus h3{margin-top:15px;font-size:14px;color:#333;text-align: center;}
.identifyStatus p{margin-top:10px;color:#808080;text-align: center;}
.identifyStatus .reason{width:400px;margin:25px auto 0;}
.identifyStatus .reason p{text-align: left;}
.identifyStatus .tips{margin-top:50px;padding-right:110px;text-align: right;color:#808080;}
.identifyStatus .optBtn{margin:30px auto 10px;text-align: center;}

#S_CSS_components_bluev_identifyStatus_css{height: 42px;}