/*tab style*/
header{
  width: 100%;
  font-size: 1.2rem;
  position: fixed;
  background: #fefefe;
    box-shadow:0 0 3px #ccc;
  height: 3.2rem;
  z-index: 1;
}
header .tab_main{
  position: absolute;
  z-index: 2;
  left: 0;
  display: table;
  background: #fefefe;
}
header .tab_main li{
  display: table-cell;
}
header .tab_main li a{
  color: #333;
  text-decoration: none;
  width: 5rem;
  /*padding: 0 1.2rem;*/
  height: 3.2rem;
  line-height: 3.2rem;
  text-align: center;
  display: block;
}
header .tab_main li a.current{
  color: #ff8200;
}
header .vernier{
  height: 0;
  width: 2.8rem;
  overflow: hidden;
  line-height: 0;
  font-size: 0;
  border-bottom:2px solid #ff8200;
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: -1px;
}
header .sort_tongue{
  text-decoration: none;
  position: absolute;
  z-index: 3;
  right: 0;
  top:0;
  line-height: 3.2rem;
  color: #333;
  padding: 0 3.2rem 0 1rem;
  box-shadow: 1px 0 1px -1px #ccc inset;
  background: #fefefe;
}
header .sort_tongue.expend{
  color: #ff8200;
}
header .arrow{
  position: absolute;
  display: block;
  background: url(./arrow.png) no-repeat;
  background-size: 100%;
  width: 13px;
  height: 7px;
  top: 50%;
  right: 1rem;
  margin-top: -3.5px;
}
header .arrow_u{
  -webkit-transition:all .5s;
  -webkit-transform: rotate(-180deg);
}
header .arrow_d{
  -webkit-transition:all .5s;
  -webkit-transform: rotate(0deg);
}
header .sort_wrap{
  position: absolute;
  z-index: 3;
  width: 100%;
  top: 3rem;
  margin-top: 1px;
  left: 0;
}
header .sort_options{
  display: table;
  width: 100%;
  background: #fefefe;
    box-shadow:0 0 3px #ccc;
}
header .sort_options li{
  position: relative;
  display: table-cell;
  color: #939393;
  text-align: center;
  padding: 0.85rem 0;
  line-height: 1.5rem;
}
header .sort_options li.current{
  color: #ff8200;
}
header .sort_options li:after{
  content: " ";
  font-size: 14px;
  position: absolute;
  right: 0;
  display: inline-block;
  border-right: 1px solid #e6e6e6;
  width: 0;
  height: 1.5rem;
  vertical-align: middle;
}