header
  ul.tab_main
    li
      a.current(href="javascript:;") 全部
    li
      a(href="javascript:;") 最热
    li.vernier
  a.sort_tongue
    span 最新发布
    em.arrow.arrow_d
  div.sort_wrap(style="display:none")
    ul.sort_options
      li 默认排序
      li.current 最新发布
      li 最受关注
      li 支持最多