.protocol_content
	include ../common/top_position
	include ../common/verifyNav/tpl
	.payinfo
		.item
			.dt 基础包
			.dd
				span ¥300/年
		.item
			.dt 权益扩展包
			.dd
				span.option.sel(node-type='op1')
					i.icon
					| ¥5000/年
				span.option(node-type='op2')
					i.icon
					| ¥9800/年
		.item
			.dt 总计
			.dd
				span.price(node-type='price') ¥5000/年
				del(node-type='original') ¥5300/年
				span.notice(node-type='notice') 返2000现金红包
		.optBtn
			a.W_btn_b(href='javascript:window.history.back()') 上一步
			a.W_btn_a(node-type='payBtn' href='#') 去支付
	.intro.clearfix
		.item
			img(node-type='item01' src='http://img.t.sinajs.cn/t6/business/src/css/bluev/img/temp01.png')
			.title 广告主功能
			p 可以使用微博强大的微博推广功能
		.item
			img(node-type='item02' src='http://img.t.sinajs.cn/t6/business/src/css/bluev/img/temp01.png')
			.title 帐号资质审核服务
			p 认证审核服务
		.item
			img(node-type='item03' src='http://img.t.sinajs.cn/t6/business/src/css/bluev/img/temp01.png')
			.title 微分析无限制
			p 微分析无限制免费3条
		.item
			img(node-type='item04' src='http://img.t.sinajs.cn/t6/business/src/css/bluev/img/temp01.png')
			.title 抽奖、活动、卡券、粉丝服务平台增值功能
			p 微博营销工具
		.item
			img(node-type='item05' src='http://img.t.sinajs.cn/t6/business/src/css/bluev/img/temp01.png')
			.title 品牌话题长期
				br
				| 主持人
			p 1个
		.item
			img(node-type='item06' src='http://img.t.sinajs.cn/t6/business/src/css/bluev/img/temp01.png')
			.title 企业用户客服
			p 专业的企业客服
		.item
			img(node-type='item07' src='http://img.t.sinajs.cn/t6/business/src/css/bluev/img/temp01.png')
			.title 舆情产品30天免费
				br
				| 试用
			p 掌握舆论主动权
		.item
			img(node-type='item08' src='http://img.t.sinajs.cn/t6/business/src/css/bluev/img/temp01.png')
			.title 企业用户1对1
				br
				| 高级客服
			p 1对1客服快速解决问题
		.item
			img(node-type='item09' src='http://img.t.sinajs.cn/t6/business/src/css/bluev/img/temp01.png')
			.title 新产品优先体验及
				br
				| 联合推广
			p 优先享用最新的功能
		.item
			img(node-type='item10' src='http://img.t.sinajs.cn/t6/business/src/css/bluev/img/temp01.png')
			.title 年运营数据分析报告
			p 全方位掌握详细
				br
				| 运营数据