@charset 'utf-8';

/*认证成功*/

.idetifysucc_content {
    width: 980px;
    margin: 58px auto;
    border: 1px solid #ececec;
    border-radius: 3px;
}

.idetifysucc_content .title {
    height: 42px;
    line-height: 42px;
    padding: 0 16px;
    border-bottom: 1px solid #ececec;
}

#S_CSS_bluev_identifysuccess {
    height: 42px;
}