.idetifysucc_content
    .indetify_wrap
        p.title.W_f14 我的认证
        .my_info
            dl
                dt 认证类型
                dd 企业蓝V
            dl
                dt 企业类别
                dd
            dl
                dt 微博名称
                dd
            dl
                dt 认证说明
                dd
            dl
                dt 运营人
                dd
            dl
                dt 运营人联系方式
                dd
            dl
                dt 权益套餐
                dd
            dl
                dt 付款日期
                dd
            dl
                dt 交易单号
                dd
            dl
                dt 权益到期时间
                dd
            dl
                dt 
                dd
    .share_wrap