.share_wrap
    p.intro_title 可享权益
    .detail_intro
        dl
            dt 统一账户
            dd.detail_txt 微博广告运营统一账户
            dd 
                a.W_ficon B
        dl 
            dt 微分析试用
            dd.detail_txt 您的微分析
            dd
                a.W_ficon B
        dl
            dt 全网蓝v标示
            dd.detail_txt 醒目企业蓝v身份标示
            dd
                a.W_ficon B
        dl
            dt 广告产品折扣价格
            dd.detail_txt 享受广告打折活动
            dd
                a.W_ficon B
        dl
            dt 认证人工核实审核服务
            dd.detail_txt 人工认证保证真人审核
            dd
                a.W_ficon B
        dl
            dt 抢注昵称1次
            dd.detail_txt 抢回属于你自己的昵称，不会被山寨
            dd
                a.W_ficon B
        dl
            dt 企业用户专属客服
            dd.detail_txt 专为企业服务的客服，专业客服
            dd
                a.W_ficon B
        dl
            dt 自助红包话题推荐位
            dd.detail_txt 微博红包活动帮你推广
            dd
                a.W_ficon B
        dl
            dt 品牌关键词昵称保护
            dd.detail_txt 不会被山寨
            dd
                a.W_ficon B
        dl
            dt 创建并主持话题抢回
            dd.detail_txt 主持话题的话语权属于你
            dd
                a.W_ficon B
        dl
            dt 粉服、活动、卡券基本功能及付费包
            dd.detail_txt 多种营销工具供你使用
            dd
                a.W_ficon B
        dl
            dt 舆情产品试用1个月
            dd.detail_txt 实时监测舆情，让公关更实时
            dd
                a.W_ficon B