p.top_position
    a.W_f14.varifyindex(href='http://verified.weibo.com/verify',target='_blank') 认证首页
    span.W_f14 
        - if(dapart == "enterprise")
            |>企业认证
        - else if(dapart = "group")
            |>机构认证
    a.W_fr(href="http://help.weibo.com/newtopic/e",target='_blank') 认证帮助»