@charset 'utf-8';
@import "../common/public.css";
@import "../common/verifyNav/css.css";

.protocol_content {
    width: 980px;
    margin: 58px auto;
    border: 1px solid #ececec;
    border-radius: 3px;
}
.unpaidTips{padding:30px 0;border-top: 1px solid #f2f2f5;}
.unpaidTips .W_icon{display: block;margin:0 auto;}
.unpaidTips h3{margin-top:15px;font-size:14px;color:#333;text-align: center;}
.unpaidContent{margin:0 72px 0 38px;}
.unpaidContent .title{position:relative;border-top: 1px solid #f2f2f5;height:15px;}
.unpaidContent .title h3{position:absolute;top:-7px;width:70px;height:15px;background-color:#fff;color:#333;}
.unpaidContent table{width:750px;margin:25px auto 35px;text-align: center;border:1px solid #f2f2f5;}
.unpaidContent table thead tr{background-color:#f2f2f5;}
.unpaidContent table thead th{padding:12px;text-align: center;}
.unpaidContent table tbody td{padding:20px;}
.unpaidContent table tbody .status{color:#808080;}

#S_CSS_bluev_unpaid {height: 42px;}