@charset 'utf-8';
@import "../common/public.css";
@import "../common/verifyNav/css.css";

.protocol_content {
    width: 980px;
    margin: 58px auto;
    border: 1px solid #ececec;
    border-radius: 3px;
    background: #fff;
}

.protocol_content .protocol_text {
    width: 730px;
    height: 400px;
    overflow: auto;
    line-height: 20px;
    margin: 0 auto;
    border: 1px solid #f2f2f5;
    padding: 0 30px;
}

.protocol_content .protocol_text h1 {
    margin-top: 24px;
}

.protocol_content .protocol_text h2 {
    margin-top: 20px;
}

.protocol_content .yes {
    margin-left: 94px;
    margin-top: 20px;
    margin-bottom: 60px;
}

#S_CSS_components_bluev_protocol_css {
    height: 42px;
}
