@charset 'utf-8';

@import "../common/public.css";
@import "../common/verifyNav/css.css";

body {
	background: #c3d2de;
	font-family: "Microsoft Yahei";
}
table {
	font-family: "Microsoft Yahei";
	font-size: 12px;
}

.inputinfo{
	width: 980px;
	background: white;
	margin: 0 auto;
}
.inputinfo .contact_info,
.inputinfo .upload_file {
	padding-bottom: 10px;
}
.inputinfo .item_title {
	font-size: 12px;
	line-height: 42px;
	border-top: 1px solid #f2f2f5;
	border-bottom: 1px solid #f2f2f5;
	padding-left: 38px;
}
.inputinfo .item_input {
	color: #919191;
	margin: 12px 0;
}
.inputinfo .item_input th {
	vertical-align: middle;
	width: 118px;
	line-height: 26px;
	text-align: right;
	padding: 8px 18px 8px 62px;
}
.inputinfo .item_input td {
	width: 600px;
	padding: 8px 0;
	line-height: 18px;
}
.inputinfo .item_input input {
	width: 500px;
	height: 26px;
	line-height: 26px;
	padding: 0 5px;
}

.inputinfo .item_input .formintro {
	padding: 0 0 15px;
}
.inputinfo .item_input .twolineth {
	line-height: 18px;
}
.inputinfo .item_input .contact_200 {
	width: 200px;
}
.inputinfo .item_input .contact_150 {
	width: 150px;
}
.inputinfo .item_input .contact_294 {
	width: 294px;
}

.inputinfo .upload_file .item_input th {
	vertical-align: top;
}
.inputinfo .upload_file .item_input td {
	width: 608px;
}
.inputinfo .item_input .file_formintro {
	display: inline-block;
	width: 330px;
	margin-left: 20px;
	vertical-align: top;
}
.inputinfo .item_input .icon_formintro {
	vertical-align: text-bottom;
	margin-right: 5px;
}
.inputinfo .item_input .upload_img {
	display: inline-block;
	width: 90px;
	height: 90px;
	text-align: center;
	overflow: hidden;
	background: #f2f2f5;
	text-align: center;
	padding: 10px;
}
.inputinfo .item_input p {
	line-height: 16px;
}
.inputinfo .item_input .btn_upload {
	margin-top: 10px;
	cursor: pointer;
}
.inputinfo .item_input .file_preview {
	max-height: 110px;
	max-width: 148px;
	vertical-align: top;
	margin-left: 10px;
}

#S_CSS_bluev_inputinfo {
    height: 42px;
}
