@charset 'utf-8';
@import "../footer/css.css";
@import "../menu/css.css";
@import "../projectFlow/css.css";
@import "../infinite/css.css";

html, body{
    height: 100%;
    background: #f2f2f2;
}

/*pagecontrol*/
/*.page_wrap{
  width: 100%;
  overflow: hidden;
    position: absolute;
    z-index: 1;
    top: 3rem;
    bottom: 4rem;
    left: 0;
    margin-top: 3px;
}
.page_inner{
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}
.slider_page{
    float: left;
    position: relative;
}*/
.wrapper_list {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.scroller_list {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

.scroller_list{
    margin-bottom: 6rem;
}
.scroller_list ul{
  width: 100%;
  position: relative;
}
.scroller_list li{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

/*tab style*/
.sliderWrapper{
    position: relative;
    width: 100%;
    /*height: 38rem;*/
    /*padding-bottom: 0.8rem;*/
    margin-bottom: 1rem;
    box-shadow:2px 0px 3px #ccc;
    overflow: hidden;
    background: #fff;
}
/*.sliderWrapper div:first-child{
  margin-bottom: 0;
}*/
.sliderContent{
    height: 36.5rem;
}
.slide{
    height: 36.5rem;
    float:left;
}
.dotCust{
  bottom: -3rem;
}
.refresh{
    background: #7b91aa;
    color: white;
    font-weight: bold;
    height: 50px;
    margin-top: -50px;
    text-align: center;
    font-size: 16px;
    line-height: 50px;

    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    -ms-transition: background-color 300ms;
    -o-transition: background-color 300ms;
    transition: background-color 300ms;
}

.refresh.active{
    background: #006eb3;
}

.refresh.running{
    background: #00b373;
}

