div.footer_wrapper
  div
    a.itemLink(href="/home?sinainternalbrowser=topnav") 首页
    a.itemLink.active(href="javascript: void(0);") 广场
    a.itemLink(href="/myfunding?sinainternalbrowser=topnav") 我