@charset 'utf-8';
@import "../common/public.css";
@import "../common/verifyNav/css.css";

.bluevmain {
    width: 980px;
    background: #c3d2de;
    font-family: "Microsoft Yahei";
    margin: 0 auto;
    font-size: 12px;
}

.bluev_intro,
.bluev_class,
.bluev_guide,
.bluev_help {
    margin-top: 10px;
    background: white;
    border-radius: 2px;
}

.bluev_header {
    width: 980px;
    height: 300px;
    background: url('http://js.t.sinajs.cn/t6/business/src/css/bluev/img/bluevheader.jpg') no-repeat;
}

.bluevmain .title {
    font-size: 14px;
    line-height: 42px;
    padding-left: 16px;
    border-bottom: 1px solid #f2f2f5;
}

.bluevmain .bluev_help .help,
.bluevmain .bluev_intro .intro {
    padding: 10px 0 18px 38px;
}

.bluevmain .bluev_help .help p,
.bluevmain .bluev_intro .intro p {
    line-height: 34px;
}

.bluevmain .bluev_help .help .focus {
    margin-left: 5px;
}

.bluevmain .bluev_class .class {
    padding: 28px 10px;
}

.bluevmain .bluev_class .verifyclass {
    width: 120px;
    padding: 0 20px;
    text-align: center;
    display: inline-block;
}

.bluevmain .bluev_class .icon_class {
    display: inline-block;
    width: 77px;
    height: 76px;
}

.bluevmain .bluev_class .icon_class1 {
    background: url('http://js.t.sinajs.cn/t6/business/src/css/bluev/img/icon_bluev_class.png') no-repeat -1px -1px;
}

.bluevmain .bluev_class .icon_class2 {
    background: url('http://js.t.sinajs.cn/t6/business/src/css/bluev/img/icon_bluev_class.png') no-repeat -84px -1px;
}

.bluevmain .bluev_class .icon_class3 {
    background: url('http://js.t.sinajs.cn/t6/business/src/css/bluev/img/icon_bluev_class.png') no-repeat -167px -1px;
}

.bluevmain .bluev_class .icon_class4 {
    background: url('http://js.t.sinajs.cn/t6/business/src/css/bluev/img/icon_bluev_class.png') no-repeat -250px -1px;
}

.bluevmain .bluev_class .icon_class5 {
    background: url('http://js.t.sinajs.cn/t6/business/src/css/bluev/img/icon_bluev_class.png') no-repeat -333px -1px;
}

.bluevmain .bluev_class .icon_class6 {
    background: url('http://js.t.sinajs.cn/t6/business/src/css/bluev/img/icon_bluev_class.png') no-repeat -416px -1px;
}

.bluevmain .bluev_class .verifytitle {
    font-size: 14px;
    line-height: 30px;
    margin-top: 6px;
}

.bluevmain .bluev_class .verifyintro {
    line-height: 22px;
    height: 117px;
}

.bluevmain .bluev_guide .guide {
    padding: 30px 16px;
}

.bluevmain .guide a {
    display: inline-block;
}

.bluevmain .bluev_guide .guideimg {
    background: #eee;
    width: 220px;
    height: 140px;
    border-radius: 5px;
}

.bluevmain .bluev_guide .mr22 {
    margin-right: 22px;
}

#S_CSS_components_bluev_main_css {
    height: 42px;
}
