//- 交互组统一结构
//- 自动回复产品需要，新建error提示
.auto_reply
    span.warning_space
        p 亲，找不回来了。。3秒后自动返回主页

//- 主站统一loading结构 start --------------
//- div(style='height:300px;')
//-     .E_loading
//-         .loading_cont.W_tc
//-             p.S_txt2 数据异常，页面将在3秒钟后跳往主页
//- 主站统一loading结构 end --------------

//------------ css3 结构 start-----------------------------------
//- .webapp_spinner
//-     .webapp_spinner-container.webapp_container1
//-         .webapp_circle1
//-         .webapp_circle2
//-         .webapp_circle3
//-         .webapp_circle4
//-     .webapp_spinner-container.webapp_container2
//-         .webapp_circle1
//-         .webapp_circle2
//-         .webapp_circle3
//-         .webapp_circle4
//-     .spinner-container.container3
//-         .webapp_circle1
//-         .webapp_circle2
//-         .webapp_circle3
//-         .webapp_circle4
//------------ css3 结构 end-----------------------------------
