html
    style.
        /*css3 loading样式部分 start*/
        .webapp_spinner { margin: 100px auto; width: 60px; height: 60px; position: relative; }
        .webapp_container1 > div, .webapp_container2 > div, .webapp_container3 > div { width: 14px; height: 14px; background-color: #333; border-radius: 100%; position: absolute; -webkit-animation: bouncedelay 1.2s infinite ease-in-out; animation: bouncedelay 1.2s infinite ease-in-out; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
        .webapp_spinner .webapp_spinner-container { position: absolute; width: 100%; height: 100%; }
        .webapp_container2 { -webkit-transform: rotateZ(45deg); transform: rotateZ(45deg); }
        .webapp_container3 { -webkit-transform: rotateZ(90deg); transform: rotateZ(90deg); }
        .webapp_circle1 { top: 0; left: 0; }
        .webapp_circle2 { top: 0; right: 0; }
        .webapp_circle3 { right: 0; bottom: 0; }
        .webapp_circle4 { left: 0; bottom: 0; }
        .webapp_container2 .webapp_circle1 { -webkit-animation-delay: -1.1s; animation-delay: -1.1s; }
        .webapp_container3 .webapp_circle1 { -webkit-animation-delay: -1.0s; animation-delay: -1.0s; }
        .webapp_container1 .webapp_circle2 { -webkit-animation-delay: -0.9s; animation-delay: -0.9s; }
        .container2 .circle2 { -webkit-animation-delay: -0.8s; animation-delay: -0.8s; }
        .webapp_container3 .webapp_circle2 { -webkit-animation-delay: -0.7s; animation-delay: -0.7s; }
        .webapp_container1 .webapp_circle3 { -webkit-animation-delay: -0.6s; animation-delay: -0.6s; }
        .webapp_container2 .webapp_circle3 { -webkit-animation-delay: -0.5s; animation-delay: -0.5s; }
        .webapp_container3 .webapp_circle3 { -webkit-animation-delay: -0.4s; animation-delay: -0.4s; }
        .webapp_container1 .webapp_circle4 { -webkit-animation-delay: -0.3s; animation-delay: -0.3s; }
        .webapp_container2 .webapp_circle4 { -webkit-animation-delay: -0.2s; animation-delay: -0.2s; }
        .webapp_container3 .webapp_circle4 { -webkit-animation-delay: -0.1s; animation-delay: -0.1s; }
        @-webkit-keyframes bouncedelay {
        0%, 80%, 100% { -webkit-transform: scale(0.0) }
        40% { -webkit-transform: scale(1.0) }
        }
        @keyframes bouncedelay {
        0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
        } 40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
        }
        }
        /*css3 loading样式部分 end*/
    body
        .webapp_spinner
            .webapp_spinner-container.webapp_container1
                .webapp_circle1
                .webapp_circle2
                .webapp_circle3
                .webapp_circle4
            .webapp_spinner-container.webapp_container2
                .webapp_circle1
                .webapp_circle2
                .webapp_circle3
                .webapp_circle4
            .spinner-container.container3
                .webapp_circle1
                .webapp_circle2
                .webapp_circle3
                .webapp_circle4
