.verifyNav.clearfix
	- if (step == "1")
		ul
			li.first.cur 
				span.step 1
				span.info 同意协议
			li.second
				span.step 2
				span.info 确认展示信息
			li.third
				span.step 3 
				span.info 填写资料
			li.fourth
				span.step 4 
				span.info 信息确认
			li.fifth
				span.step 5 
				span.info 支付费用
			li.sixth
				span.step 6 
				span.info 等待审核
	- if (step == "2")
		ul
			li.first.cur 
				span.step 
					em.W_ficon.ficon_correct.S_ficon B 
				span.info 同意协议
			li.second.cur
				span.step 2
				span.info 确认展示信息
			li.third
				span.step 3 
				span.info 填写资料
			li.fourth
				span.step 4 
				span.info 信息确认
			li.fifth
				span.step 5 
				span.info 支付费用
			li.sixth
				span.step 6 
				span.info 等待审核		
	- if (step == "3")
		ul
			li.first.cur 
				span.step 
					em.W_ficon.ficon_correct.S_ficon B 
				span.info 同意协议
			li.second.cur
				span.step
					em.W_ficon.ficon_correct.S_ficon B 
				span.info 确认展示信息
			li.third.cur 
				span.step 3
				span.info 填写资料
			li.fourth
				span.step 4 
				span.info 信息确认
			li.fifth
				span.step 5 
				span.info 支付费用
			li.sixth
				span.step 6 
				span.info 等待审核
	- if (step == "4")
		ul
			li.first.cur 
				span.step 
					em.W_ficon.ficon_correct.S_ficon B 
				span.info 同意协议
			li.second.cur
				span.step
					em.W_ficon.ficon_correct.S_ficon B 
				span.info 确认展示信息
			li.third.cur 
				span.step
					em.W_ficon.ficon_correct.S_ficon B 
				span.info 填写资料
			li.fourth.cur
				span.step 4 
				span.info 信息确认
			li.fifth
				span.step 5 
				span.info 支付费用
			li.sixth
				span.step 6 
				span.info 等待审核
	- if (step == "5")
		ul
			li.first.cur 
				span.step 
					em.W_ficon.ficon_correct.S_ficon B 
				span.info 同意协议
			li.second.cur
				span.step
					em.W_ficon.ficon_correct.S_ficon B 
				span.info 确认展示信息
			li.third.cur 
				span.step
					em.W_ficon.ficon_correct.S_ficon B 
				span.info 填写资料
			li.fourth.cur
				span.step
					em.W_ficon.ficon_correct.S_ficon B
				span.info 信息确认
			li.fifth.cur
				span.step 5 
				span.info 支付费用
			li.sixth
				span.step 6 
				span.info 等待审核
	- if (step == "6")
		ul
			li.first.cur 
				span.step 
					em.W_ficon.ficon_correct.S_ficon B 
				span.info 同意协议
			li.second.cur
				span.step
					em.W_ficon.ficon_correct.S_ficon B 
				span.info 确认展示信息
			li.third.cur 
				span.step
					em.W_ficon.ficon_correct.S_ficon B 
				span.info 填写资料
			li.fourth.cur
				span.step
					em.W_ficon.ficon_correct.S_ficon B
				span.info 信息确认
			li.fifth.cur
				span.step
					em.W_ficon.ficon_correct.S_ficon B
				span.info 支付费用
			li.sixth.cur
				span.step 6 
				span.info 等待审核
